@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@300;400;700&display=swap');

$color-primary: #51c3c1;
$color-primary-dark: #3ca0b0;
$color-primary-light: #66d9cf;
$color-secondary: #201e5a;
$color-secondary-dark: #1a1848;
$color-secondary-light: #37339a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff9f9;
$color-black: #181818;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
